.App {
  text-align: center;
}

.greenBorder {
  border-style: solid;
  border-color: #2e7d32;
}

.greenBackground {
  background-color: #afd1a3;
}

.MuiSlider-thumb {
  color: green;
}
.MuiSlider-rail {
  color: lightgreen;
}
.MuiSlider-track {
  color: green;
}
